// ============================================== //
// ================ SNAPSHOT 3.0 ================ //
// ============================================== //
// ======== by Leighton Sapir (WPMU DEV) ======== //
// ============================================== //

.wpmud #container.wps-page-wizard .new-snapshot-main-box {
	> .wpmud-box-content {
		padding: 0;
		.wpmud-box-tab .wpmud-box-tab-title {
			.wps-icon {
				transform: rotate(90deg);
			}
			.wps-tag {
				top: 23px;
				right: auto;
				left: 171px;
				padding: 6px 16px 4px;
				border: 0;
				&.wps-tag--green {
					background: $color--seagreen;
					color: $color--white;
				}
				&.wps-tag--red {
					background: $color--warning;
					color: $color--white;
				}
				&.wps-tag--yellow {
					background: $color--yellow;
					color: $color--mineshaft;
				}
			}
		}
	}
}

.wpmud #container.wps-page-wizard .requirements-check-box {
	.wpmud-box-tab-content {
		display: none;
		padding-top: 0;
	}
	.wps-requirements-list {
		padding: 0 30px;
		.wpmud-box-gray {
			padding: 20px 30px;
			+ p {
				margin-top: 31px;
				@include screen('small') {
					text-align: right;
				}
			}
		}
		.wps-table tbody {
			tr {
				border-bottom: 1px solid $color--whitelilac;

				th, td {
					vertical-align: text-top;
					padding: 19px 0;
					white-space: normal;
				}

				th {
					width: 250px;
					color: $color--mineshaft;
					font-weight: 500;
					.wps-tag {
						margin-left: 10px;
						padding: 6px 16px 4px;
						border: 0;
						&.wps-tag--green {
							background: $color--seagreen;
							color: $color--white;
						}
						&.wps-tag--red {
							background: $color--warning;
							color: $color--white;
						}
						&.wps-tag--yellow {
							background: $color--yellow;
							color: $color--mineshaft;
						}
					}
				}

				td {
					padding-top: 0;
					@include screen("medium") {
						padding-top: 19px;
						padding-left: 15px;
					}
				}

				&:first-child {
					th, td {
						padding: 14px 0 15px;
						border-top: 0;
					}
				}

				&:last-child {
					border-bottom: 0;

					th, td {
						padding-bottom: 9px;
					}
				}

				@include screen("medium") {
					border-bottom: 0;
				}
			}
		}
	}
	&.open {
		border-bottom: 1px solid $color--whitelilac;
		.wpmud-box-tab-title {
			border-bottom-color: transparent;
		}
		.wpmud-box-tab-content {
			display: block;
		}
	}
}

.wpmud #container.wps-page-wizard .configuration-box {
	.wpmud-box-tab-title {
		.wps-restore-backup-notice {
			margin-left: 20px;
			color: $color--steel;
			font-size: 15px;
			font-family: $font;
			font-weight: 400;
			letter-spacing: -0.15px;
			text-transform: none;
		}
	}
	.wpmud-box-tab-content {
		display: none;
	}
	// Correct grid
	#wps-new-location,
	#wps-new-subsite,
	#wps-new-destination,
	#wps-custom-directory,
	#wps-new-files,
	#wps-new-database,
	#wps-new-frequency,
	#wps-new-files-exclude,
	#wps-new-name,
	#wps-restore-subsite,
	#wps-restore-archive,
	#wps-restore-files,
	#wps-restore-database,
	#wps-restore-plugins,
	#wps-restore-themes {
		.col-sm-3 {
			@include screen(small) {
				max-width: 21%;
				flex-basis: 21%;
			}
		}
		.col-md-3 {
			@include screen(medium) {
				max-width: 21%;
				flex-basis: 21%;
			}
		}
		.col-lg-3 {
			@include screen(large) {
				max-width: 21%;
				flex-basis: 21%;
			}
		}
		.col-sm-9 {
			@include screen(small) {
				max-width: 79%;
				flex-basis: 79%;
			}
		}
		.col-md-9 {
			@include screen(medium) {
				max-width: 79%;
				flex-basis: 79%;
			}
		}
		.col-lg-9 {
			@include screen(large) {
				max-width: 79%;
				flex-basis: 79%;
			}
		}
	}
	// Wizard: Location
	#wps-new-location {
		position: relative;
		margin-bottom: 29px;
		padding-bottom: 31px;
		label.label-title {
			margin-bottom: 29px;
		}
		.wps-restore-folder {
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			align-items: center;
			margin-bottom: 11px;
			.wps-restore-folder-label {
				flex: 0 88px;
				label {
					cursor: text;
					margin: 0;
					padding: 0;
					color: $color--mineshaft;
					font-weight: 500;
				}
			}
			.wps-restore-folder-input {
				flex: 1;
				input {
					max-width: 460px;
					margin: 0;
				}
			}
		}
		&:after {
			content: " ";
			height: 1px;
			display: block;
			position: absolute;
			right: 20px;
			bottom: 0;
			left: 20px;
			background: $color--whitelilac;
			@include screen("medium") {
				right: 30px;
				left: 30px;
			}
		}
	}
	// Wizard: Blog to backup
	#wps-new-subsite {
		position: relative;
		margin-bottom: 29px;
		padding-bottom: 31px;
		.wps-subsite-map {
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			input[type="text"] {
				flex: 1;
				margin: 0;
			}
			.inbetween {
				flex: 1;
				margin-top: 10px;
				@include screen("medium") {
					flex: 0 0 auto;
					margin-top: 0;
					margin-left: 15px;
				}
			}
			@include screen("medium") {
				flex-direction: row;
				align-items: center;
			}
		}
		.wps-subsite-btns {
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			.button {
				flex: 1;
				margin-bottom: 20px;
				text-align: center;
				&:last-child {
					margin-bottom: 0;
					@include screen("medium") {
						margin-right: 0;
					}
				}
				@include screen("medium") {
					flex: 0 0 auto;
					margin-right: 15px;
					margin-bottom: 0;
				}
			}
			@include screen("medium") {
				flex-direction: row;
			}
		}
		&:after {
			content: " ";
			height: 1px;
			display: block;
			position: absolute;
			right: 20px;
			bottom: 0;
			left: 20px;
			background: $color--whitelilac;
			@include screen("medium") {
				right: 30px;
				left: 30px;
			}
		}
	}
	// Wizard: Destination
	#wps-new-files-exclude,
	#wps-new-destination {
		position: relative;
		margin-bottom: 29px;
		padding-bottom: 31px;
		.wpmud-box-gray {
			margin-top: 19px;
			padding: 32px 15px 20px 29px;
			.radio-destination {
				display: flex;
				flex-wrap: wrap;
				flex-direction: column;
				.wps-input--item {
					position: relative;
					margin-bottom: 10px;
					border: 1px solid $color--athens;
					border-radius: 3px;
					background: $color--white;
					.wps-input--radio {
						position: absolute;
						top: 9px;
						left: 14px;
						margin: 0;
					}
					.wps-input--radio + label {
						display: block;
						position: relative;
						padding: 9px 40px 9px 45px;
						span {
							overflow: hidden;
							display: block;
							text-overflow: ellipsis;
							white-space: nowrap;
						}
						.wps-typecon {
							position: absolute;
							top: 9px;
							right: 14px;
						}
					}
					&:nth-child(2n+2) {
						@include screen("medium") {
							margin-right: 0;
						}
					}
					@include screen("medium") {
						max-width: 48.1%;
						flex-basis: 48.1%;
						margin-right: 3%;
					}
				}
				@include screen("medium") {
					flex-direction: row;
				}
			}
			.wps-notice {
				margin-top: 10px;
				p {
					padding: 0;
				}
				&:before {
					display: none;
				}
			}
		}
		&:after {
			content: " ";
			height: 1px;
			display: block;
			position: absolute;
			right: 20px;
			bottom: 0;
			left: 20px;
			background: $color--whitelilac;
			@include screen("medium") {
				right: 30px;
				left: 30px;
			}
		}
		.destination-disabled {
			background-color: #f2f2f2!important;
			input[type="radio"] {
				color: #bbbbbb!important;
			}
		}
	}
	#wps-new-files-exclude {
		p.managed-exclusions {
			font-weight: 500;
    		color: #424242;
		}
	}
	// Wizard: Custom Directory
	#wps-custom-directory {
		position: relative;
		margin-bottom: 29px;
		padding-bottom: 31px;
		.wpmud-box-gray {
			margin-top: 19px;
			padding: 32px 15px 20px 29px;
		}
		&:after {
			content: " ";
			height: 1px;
			display: block;
			position: absolute;
			right: 20px;
			bottom: 0;
			left: 20px;
			background: $color--whitelilac;
			@include screen("medium") {
				right: 30px;
				left: 30px;
			}
		}
	}
	// Wizard: Files
	#wps-new-files,
	#wps-restore-database {
		position: relative;
		margin-bottom: 24px;
		padding-bottom: 28px;
		#snapshot-select-files-option {
			margin: 19px 0 29px;
			li.wps-input--item {
				.wps-input--checkbox + label {
					letter-spacing: 0px;
				}
			}
			&.wpmud-box-gray {
				padding: 18px 30px 19px;
			}
		}
		#snapshot-selected-files-sync-container {
			label.label-title {
				margin-top: 29px;
			}
			.wps-input--group {
				margin-top: 19px;
				margin-bottom: 29px;
				.wps-input--item {
					position: relative;
					margin-bottom: 10px;
					.wps-input--radio {
						position: absolute;
						top: 0;
						left: 0;
					}
					.wps-input--radio + label {
						display: block;
						padding-left: 40px;
					}
					&:last-child {
						margin-bottom: 0;
					}
				}
				&.wpmud-box-gray {
					padding: 18px 18px 19px;
					@include screen("medium") {
						padding-right: 30px;
						padding-left: 30px;
					}
				}
			}
			+ label.label-title {
				margin-bottom: 30px;
			}
		}
		#snapshot-files-ignore {
			height: 80px;
			min-height: 80px;
			margin-bottom: 10px;
			+ p small {
				line-height: 22px;
			}
		}
		&:after {
			content: " ";
			height: 1px;
			display: block;
			position: absolute;
			right: 20px;
			bottom: 0;
			left: 20px;
			background: $color--whitelilac;
			@include screen("medium") {
				right: 30px;
				left: 30px;
			}
		}
	}
	// Wizard: Database
	#wps-new-database,
	#wps-restore-database {
		position: relative;
		margin-bottom: 29px;
		padding-bottom: 31px;
		label.label-title {
			padding-bottom: 14px;
		}
		#snapshot-selected-tables-container {
			margin-top: 18px;
			margin-bottom: 0;
			padding: 26px 29px 21px;
			h3 {
				margin: 0;
				color: $color--mineshaft;
				font: 700 13px/30px $font--alt;
				letter-spacing: -0.25px;
				text-align: left;
				a {
					margin-left: 5px;
				}
			}
			div.snapshot-tables-set {
				float: none;
			}
			ul.snapshot-table-list {
				display: flex;
				flex-wrap: wrap;
				flex-direction: column;
				margin: 12px 0 8px;
				li.wps-input--item {
					flex: 1;
					.wps-input--checkbox {
						display: block;
						position: absolute;
						top: 0;
						left: 0;
						+ label {
							overflow: hidden;
							display: block;
							padding-left: 30px;
							text-overflow: ellipsis;
							white-space: nowrap;
						}
					}
					&:nth-child(2n+2) {
						@include screen("small") {
							margin-right: 0;
							padding-left: 19px;
						}
					}
					@include screen("small") {
						min-width: 48.1%;
						flex-basis: 48.1%;
						margin-right: 3%;
					}
				}
				@include screen("small") {
					flex-direction: row;
				}
			}
		}
		&:after {
			content: " ";
			height: 1px;
			display: block;
			position: absolute;
			right: 30px;
			bottom: 0;
			left: 30px;
			background: $color--whitelilac;
		}
	}
	// Wizard: Frequency
	#wps-new-frequency {
		position: relative;
		margin-bottom: 29px;
		padding-bottom: 31px;
		table {
			margin: 0 0 30px;
			tbody tr th,
			tbody tr td {
				border-top: 0;
				overflow: initial;
				text-overflow: clip;
				white-space: normal;
			}
			tbody tr td {
				p, p small {
					overflow: auto;
					text-overflow: clip;
					white-space: normal;
				}
				.wps-notice p,
				.wps-notice p small {
					color: $color--mineshaft;
				}
				input[type="text"] {
					max-width: 100px;
				}
			}
		}
		#snapshot-schedule-options-container {
			margin-bottom: 0;
			margin-top: 20px;
			padding: 26px 29px 29px;
			h3 {
				margin: 0 0 24px;
				color: $color--mineshaft;
				font: 700 13px/30px $font--alt;
				letter-spacing: -0.25px;
				text-align: left;
				a {
					margin-left: 5px;
				}
			}
			.schedule-inline-form {
				display: flex;
				flex-wrap: wrap;
				flex-direction: column;
				margin-bottom: 26px;
				> .select-container {
					flex: 0;
					&:not(:first-child) {
						margin-top: 15px;
						@include screen("small") {
							margin-top: 0;
							margin-left: 15px;
						}
					}
				}
				.inbetween {
					margin-top: 15px;
					padding: 0 13px 0 12px;
					&:first-child {
						margin-top: 0;
					}
					&:last-child {
						padding-right: 0;
						.select-container {
							width: 160px;
						}
					}
					@include screen("small") {
						margin-top: 0;
					}
				}
				#interval-offset {
					flex: 1;
					flex-wrap: wrap;
					flex-direction: row;
					margin-top: 15px;
					@include screen("small") {
						margin-top: 0;
					}
				}
				.interval-offset-hourly,
				.interval-offset-daily,
				.interval-offset-weekly,
				.interval-offset-monthly {
					width: 100%;
					flex: 1;
					flex-direction: column;
					@include screen("small") {
						width: auto;
						flex-direction: row;
						align-items: center;
					}
				}
				.interval-offset-daily,
				.interval-offset-weekly,
				.interval-offset-monthly {
					display: inline-flex;
				}
				@include screen("small") {
					flex-direction: row;
				}
				.spread-snapshot-schedules, .spread-managed-schedules{
					margin-bottom: 0;
					margin-top: 10px;
				}
			}
			.storage-inline-form {
				display: flex;
				flex-wrap: wrap;
				flex-direction: row;
				align-items: center;
				margin-bottom: 5px;
				input[type="number"] {
					max-width: 50px;
					display: inline-block;
					flex: 0 50px;
					@include screen("small") {
						max-width: 60px;
						flex: 0 60px;
					}
				}
				.inbetween {
					flex: 0;
					font-size: 13px;
					line-height: 16px;
					&:first-child {
						padding-right: 13px;
					}
					&:last-child {
						flex: 1;
						padding-left: 12px;
					}
					@include screen("small") {
						font-size: 15px;
						line-height: 20px;
					}
				}
			}
			.wps-new-backups-schedule {
				.select-container {
					display: inline-block;
				}
				.weekly ul.list-results li{
					word-wrap: normal;
				}
			}
			p {
				margin-bottom: 23px;
				small {
					line-height: 22px;
				}
			}
			h3 + .inline-form + h3 {
				margin: 0 0 23px;
				+ .inline-form {
					margin-bottom: 11px;
					+ p + h3 {
						margin-bottom: 22px;
					}
				}
			}

			.clean-storage-limits {
				margin-bottom: 25px;
				#remote-count, #local-count {
					margin-top: 20px;
					.storage-inline-form {
						margin-bottom: 5px;
					}
				}
				.storage-inline-form input[type="number"] {
					max-width: 80px;
					-webkit-box-flex: 0;
					-ms-flex: 0 80px;
					flex: 0 80px;
				}
				h3 {
					margin: 0 0 5px;
				}
				p {
					margin-bottom: 10px;
				}
			}
			.remove-older-managed{
				margin-top: 10px;
			}
		}
		&:after {
			content: " ";
			height: 1px;
			display: block;
			position: absolute;
			right: 20px;
			bottom: 0;
			left: 20px;
			background: $color--whitelilac;
			@include screen("medium") {
				right: 30px;
				left: 30px;
			}
		}
	}
	// Wizard: Name
	#wps-new-name {
		position: relative;
		margin-bottom: 30px;
		padding-bottom: 28px;
		label.label-title {
			margin-bottom: 30px;
		}
		input[type="text"] {
			max-width: 460px;
			margin: 0;
		}
		p {
			margin-top: 5px;
		}
		&:after {
			content: " ";
			height: 1px;
			display: block;
			position: absolute;
			right: 20px;
			bottom: 0;
			left: 20px;
			background: $color--whitelilac;
			@include screen("medium") {
				right: 30px;
				left: 30px;
			}
		}
	}
	// Wizard: Error Messages
	.wps-auth-message {
		margin-bottom: 30px;
	}
	// Wizard: Save Changes
	.form-button-container {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;
		padding: 0;
		.button.button-gray {
			min-width: 95px;
			margin-bottom: 15px;
			@include screen("xs") {
				margin-bottom: 0;
				margin-left: 15px;
			}
		}
		.button.button-blue {
			min-width: 131px;
		}
		&.form-button-single {
			@include screen("xs") {
				justify-content: flex-end;
			}
		}
		@include screen("xs") {
			flex-direction: row;
			justify-content: space-between;
		}
	}
	// Restore
	#wps-restore-archive,
	#wps-restore-files,
	#wps-restore-database,
	#wps-restore-plugins,
	#wps-restore-themes,
	#wps-restore-subsite {
		position: relative;
		margin-bottom: 30px;
		padding-bottom: 28px;
		&:after {
			content: " ";
			height: 1px;
			display: block;
			position: absolute;
			right: 30px;
			bottom: 0;
			left: 30px;
			background: $color--whitelilac;
		}
	}
	&.open {
		.wpmud-box-tab-content {
			display: block;
		}
	}

	#wps-restore-subsite {

		.wps-notice {
			margin-bottom: 20px;

			&:last-child {
				margin-bottom: 0;
			}

			@include screen("small") {
				margin-bottom: 30px;
			}
		}

		.wps-restore-row {
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;

			.wps-restore-col {
				flex: 1;
				margin-bottom: 20px;

				.label-title {
					margin-bottom: 20px;
				}

				table tbody {

					tr {
						display: flex;
						flex-wrap: wrap;
						justify-content: space-between;

						padding: 10px 0 8px;
						border-top: 1px solid #E6E6E6;

						&:first-child {
							border-top: 0;
						}

						th, td {
							display: inline-block;
							border-top: 0;
							padding: 0;
						}

						th {
							margin-right: 10px;
							font-size: 14px;
							font-weight: 500;

							@include screen("medium") {
								margin-right: 0;
							}
						}

						td {
							white-space: normal;

							@include screen("medium") {
								text-align: right;
								float: right;
							}
						}
					}

					tr:first-child th,
					tr:first-child td {
						border-top: 0;
					}
				}

				&:last-child {
					margin-right: 0;
					margin-bottom: 0;
				}

				@include screen("small") {
					margin-bottom: 30px;
				}

				@include screen("medium") {
					margin-right: 30px;
					margin-bottom: 0;
				}
			}

			@include screen("medium") {
				flex-direction: row;
			}
		}
	}
}
