// ============================================== //
// ================ SNAPSHOT 3.0 ================ //
// ============================================== //
// ======== by Leighton Sapir (WPMU DEV) ======== //
// ============================================== //

.snapshot-three .wps-typecon {
	width: 21px;
	height: 21px;
	display: block;
	margin: 0 auto;
	background: url("../img/sprite.png") no-repeat transparent;
	background-image: url("../img/sprite.svg"), none;
	&.amazon, &.aws {
		background-position: -940px -443px;
	}
	&.dropbox {
		background-position: -940px -325px;
	}
	&.google, &.google-drive {
		background-position: -940px -385px;
	}
	&.local {
		background-position: -1000px -502px;
	}
	&.sftp, &.ftp {
		background-position: -940px -558px;
	}
	&.cloud {
		background-position: -1000px -618px;
	}
	&.automated {
		background-position: -1000px -443px;
	}
}

$snapshot-font-path: "../icons" !default;

@font-face {
	font-family: 'snapshot';
	src:  url('#{$snapshot-font-path}/snapshot.eot?5jpx97');
	src:  url('#{$snapshot-font-path}/snapshot.eot?5jpx97#iefix') format('embedded-opentype'),
		  url('#{$snapshot-font-path}/snapshot.ttf?5jpx97') format('truetype'),
		  url('#{$snapshot-font-path}/snapshot.woff?5jpx97') format('woff'),
		  url('#{$snapshot-font-path}/snapshot.svg?5jpx97#snapshot') format('svg');
	font-weight: normal;
	font-style: normal;
}

.snapshot-three .wps-icon,
.wpmud .snapshot-three .wps-icon {
	// use !important to prevent issues with browser extensions that change fonts
	font-family: 'snapshot' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	// Better Font Rendering
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.i-check {
  &:before {
    content: $i-check;
  }
}
.i-arrow-left {
  &:before {
    content: $i-arrow-left;
  }
}
.i-arrow-right {
  &:before {
    content: $i-arrow-right;
  }
}
.i-close {
	&:before {
		content: $i-close;
	}
}
.i-warning {
	&:before {
		content: $i-warning;
	}
}
.i-cloud-upload {
	&:before {
		content: $i-cloud-upload;
	}
}
.i-cloud-error {
  &:before {
	  content: $i-cloud-error;
  }
}
.i-cloud-hosting {
	&:before {
		content: $i-cloud-hosting;
	}
}
.i-snapshot {
	&:before {
		content: $i-snapshot;
	}
}
.i-cloud-automate {
	&.upload-error {
    color: #FF6D6D;
  }
  &:before {
		content: $i-cloud-automate;
  }
}